    body{
        background: linear-gradient(to right, #00ffff, #006eff);
        font-family: Arial, Helvetica, sans-serif;
        max-width: 1400px;
        margin: 2%;
    }
    h1{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
    h2{
        color: rgb(0, 0, 0);
    }
    h3{
        color: hsl(0, 0%, 0%);
    }
    img{
        color:rgb(0, 0, 0)
    }
    strong{
        color: rgb(255, 0, 0);
    }
    ul{
        color: rgb(0, 0, 0);
    }
    ol{
        color:rgb(0, 0, 0)
    }
    table{
        background-color: rgb(0, 0, 0);
        border-color: rgb(9, 255, 0)
    }
    tr{
        border-color: rgb(255, 0, 0);
        color: rgb(255, 255, 255);
    }
    th{
        color: rgb(255, 255, 255);
    }
    td{
        color: rgb(255, 255, 255);
    }